input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

@font-face {
  font-family: Lato;
  font-weight: bold;
  src: url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
}
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: calc(100vw - scrollbarWidth);
  color: #333333;
  font-family: Lato;
}
.navbar {
  display: flex;
  justify-content: center;
}
.App {
  height: 70vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}
.Options {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.Options button {
  padding: 10px;
  border-radius: 30px;
  margin: 10px;
  max-width: 180%;
  min-width: 100%;
  background-color: #fb7680;
  border: 2px solid #020202;
  font-size: 1.3rem;
}
.logNumPopUp {
  background-color: #fb7680;
  min-width: 100%;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 2rem;
  border: 2px solid #020202;
  border-radius: 30px;
}
.logNumPopUp input {
  background-color: #fb7680;
  font-size: 2rem;
  color: #333333;
  border: 1px dotted;
  padding: 5px;
}
.logNumPopUp button {
    max-width: 50%;
}
label input {
  display: none;
}
.star {
  cursor: pointer;
}